ion-title {
  font-size: larger;
}

.help_section button {
  margin-top: 1.5em;
  font-size: large;
  padding: 0.75em;
  border-radius: 0.1em;
  width: 100%;
}

hr {
  background-color: grey;
  margin-top: 2em;
}

ion-footer {
  text-align: center;
  margin-bottom: 1em;
}

ion-footer ion-button {
  font-size: 1em;
  height: 3em;
  width: 7.5em;
  border-radius: 3em;
  --background-hover: #992fed;
  --background: #92949c;
}

p {
  margin-left: 0.5em;
}
