.topPurple{
    background: #992FED;
    height: 5px;
}

ion-header svg{
    z-index: -1;
    display: inline-block;
}

.greyBit{
    background-color: #BBC4D0;
    height: 30%;
}

#brand{
    background-color: #BBC4D0;
    color: #992FED;
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
}

#goalTracker{
    color: black;
    background-color: #BBC4D0;
    height: 5em;
    text-align: center;
    border-radius: 3em;
    margin: 0.5em ;
    position: relative;
}



