<ion-header>
  <div class="topPurple"></div>

  <div class="greyBit">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 500">
      <path
        fill="#992FED"
        fill-opacity="1"
        d="M -4 500 C 627 378 817 86 1242 102 C 1336 107 1399 140 1438 180 L 1440 0 L 1360 0 C 1280 0 1120 0 960 0 C 800 0 640 0 480 0 C 320 0 160 0 80 0 L 0 0 Z"
      ></path>
    </svg>
  </div>

  <div id="brand">Home</div>

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 200">
    <path
      fill="#BBC4D0"
      fill-opacity="1"
      d="M 0 2 C 495 295 1252 63 1442 156 L 1440 0 L 1360 0 C 1280 0 1120 0 960 0 C 800 0 640 0 480 0 C 320 0 160 0 80 0 L 0 0 Z"
    ></path>
  </svg>
</ion-header>

<ion-content>
  <div id="goalTracker">
    <h5 *ngIf="settingsPage.settings.goal=='low'">
      Goal : 75 minutes per week
    </h5>
    <h5 *ngIf="settingsPage.settings.goal=='medium'">
      Goal : 150 minutes per week
    </h5>
    <h5 *ngIf="settingsPage.settings.goal=='hard'">
      Goal : 300 minutes per week
    </h5>

    <circle-progress
      [percent]="goal_tracker_value"
      [radius]="65"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#992fed'"
      [innerStrokeColor]="'#B394C6'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
  </div>

  <div id="shopDiv">
    <ion-button (click)="showShopModal()">Visit the Shop</ion-button>
  </div>

  <ion-card *ngFor="let post of post_list | async; let i=index">
    <ion-card-content>
      <div class="row">
        <div class="column1" (click)="loadProfile(post.userName)">
          <h5>{{post.userName}}</h5>
          <img src="{{post.pic}}" />
        </div>

        <div class="column2">
          <ion-card-subtitle style="margin-top: 1em"
            >{{ utils.recalcDist(post.dist) +" "+ utils.distance_unit_short}}
            {{post.type}}
          </ion-card-subtitle>
          <ion-card-subtitle
            >{{ utils.minutes2Time(post.time) }}</ion-card-subtitle
          >
          <ion-card-subtitle
            >{{utils.recalcSpeed(post.pace)}}
            {{utils.pace_unit}}</ion-card-subtitle
          >
          <ion-card-subtitle>{{post.text}}</ion-card-subtitle>
        </div>
      </div>
      <p>Posted {{utils.setDate(post.date)}}</p>

      <div id="socialBar" style="clear: both">
        <h5 style="float: left">
          {{countLikes(post)}}

          <ng-container *ngIf="checkIfLiked(post); else normalThumb">
            <ion-icon
              style="color: #992fed"
              name="thumbs-up-sharp"
              (click)="toggleLike(post._id)"
            ></ion-icon>
          </ng-container>

          <ng-template #normalThumb>
            <ion-icon
              name="thumbs-up-sharp"
              (click)="toggleLike(post._id)"
            ></ion-icon>
          </ng-template>
        </h5>
        <h6 style="float: right" (click)="openCommentBox(i,post._id)">
          {{post.numComments}} Comment(s)
        </h6>
      </div>
    </ion-card-content>
    <br />

    <div id="socialBtns">
      <ng-container *ngIf="checkIfLiked(post); else normalLike">
        <ion-button (click)="toggleLike(post._id)">Unlike</ion-button>
      </ng-container>

      <ng-template #normalLike>
        <ion-button (click)="toggleLike(post._id)">Like</ion-button>
      </ng-template>

      <ion-button (click)="openCommentInput(i)">Comment</ion-button>
    </div>

    <div
      *ngIf="comment_box_boolean==true && comment_box_to_show==i"
      style="margin-top: 3em"
    >
      <div id="aComment" *ngFor="let comment of comments">
        <img
          (click)="loadProfile(comment['username'])"
          src="http://localhost:5000/api/v1.0/images/{{comment['user_pic']}}"
        />
        <p id="commentName" (click)="loadProfile(comment['username'])">
          {{comment["username"]}}
        </p>
        <p style="margin-left: 0.5em">{{comment["text"]}}</p>

        <!-- Edit/Del comment btns for commenter only -->
        <ng-container *ngIf="comment['username'] == current_user.username">
          <ion-button
            class="commentBtns"
            (click)="presentDelete(comment['_id'])"
            >Delete</ion-button
          >
          <ion-button
            class="commentBtns"
            (click)="presentEditComment(comment._id, comment.text) "
            >Edit</ion-button
          >
        </ng-container>

        <br />
      </div>
    </div>

    <div
      *ngIf="comment_input_boolean==true && comment_input_to_show==i"
      style="margin-top: 1em; margin-left: 1em"
      id="commentInputBox"
    >
      <ion-input
        placeholder="Write a comment ..."
        [(ngModel)]="comment_input_value"
      ></ion-input>
      <ion-button (click)="postComment(post._id,post.userName)"
        >Post</ion-button
      >
    </div>
  </ion-card>
</ion-content>
