ion-content{
    --ion-background-color: white;
}

.topPurple{
    background: #992FED;
    height: 5px;
}


ion-header svg{
    z-index: -1;
}


.greyBit{
    background-color: #BBC4D0;
    height: 30%;
}

#brand{
    background-color: #BBC4D0;
    color: #992FED;
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
}