.topPurple {
  background: #992fed;
  height: 5px;
}

ion-header svg {
  z-index: -1;
  display: inline-block;
}

.greyBit {
  background-color: #bbc4d0;
  height: 40%;
}

#brand {
  background-color: #bbc4d0;
  color: #992fed;
  text-align: center;
  font-size: 2em;
  font-weight: bolder;
}

ion-content {
  --ion-item-background: white;
  --ion-item-color: black;
  color: black;
  text-align: center;
}

.column {
  margin-top: 1em;
  float: left;
  width: 33.3%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column2 {
  margin-top: 1em;
  margin-left: 4%;
  margin-right: 4%;
  float: left;
  width: 42%;
}

ion-icon {
  font-size: 2.5em;
  border-radius: 5em;
  padding: 0.1em;
  background-color: #bb96cd;
  height: 1em;
  width: 6em;
}

fa-icon {
  font-size: 2em;
}

#fIcon {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  height: 3em;
  width: 6em;
  border-radius: 5em;
  background-color: #bb96cd;
}

p {
  text-align: center;
  color: #992fed;
  margin: 0;
  font-weight: 550;
}

ion-textarea {
  border: solid 0.1em #992fed;
  width: 85%;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 0.65em;
  height: 5em;
  font-size: 0.8em;
  padding: 0.25em;
  color: black;
}

ion-input,
ion-select {
  color: black;
  border: solid 0.1em #992fed;
  width: 85%;
  left: 1;
  right: 1;
  margin: auto;
  border-radius: 0.65em;
}

ion-content ion-button {
  left: 0;
  right: 0;
  margin: auto;
  width: 50%;
  height: 2.75em;
  font-size: 1em;
  font-weight: 500;
  --border-radius: 4em;
  --background: #992fed;
  --background-hover: #bbc4d0;
}

ion-item ion-radio {
  opacity: 0;
}
