.topPurple {
  background: #992fed;
  height: 5px;
}

.greyBit {
  background-color: #bbc4d0;
  height: 40%;
}

#brand {
  background-color: #bbc4d0;
  color: #992fed;
  text-align: center;
  font-size: 2em;
  font-weight: bolder;
}

#topToolbar {
  --background: white;
  border-radius: 4em;
  left: 0;
  right: 0;
  margin: auto;
  width: 90%;
}

#topToolbar ion-segment {
  border: 0.125em solid #992fed;
  color: #992fed;
  border-radius: 1.5em;
  height: 3em;
}

#topToolbar ion-segment-button {
  font-size: 1.1em;
  font-weight: bolder;
  --background-checked: var(--ion-color-fav);
  --color-checked: var(--ion-color-dark);
  --indicator-color: transparent;
  border-radius: 1.5em;
}

#filtersToolbar {
  --background: white;
}

#leaderboardBox {
  height: 15em;
  width: 90%;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 0.5em;
}

#leaderboardBox ion-segment {
  border-radius: 0.5em;
  padding: 0.1em;
  background-color: #992fed;
  color: white;
  width: 90%;
}

#leaderboardBox ion-segment-button {
  --background-checked: var(--ion-color-dark);
  --color-checked: var(--ion-color-light);
  --indicator-color: transparent;
}

ion-select {
  color: black;
}

.column {
  margin-top: 0.5em;
  float: left;
  width: 50%;
  text-align: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

ion-label {
  color: black;
}

.lboardFilter {
  background-color: #bbc4d0;
  border: 0.01em solid black;
  height: 2em;
  width: 7em;
  opacity: 85%;
  float: left;
  margin-top: 0;
  padding: 0;
  border-radius: 2em;
  margin-left: 8%;
  margin-right: 5%;
}

.filter {
  background-color: #bbc4d0;
  border: 0.01em solid black;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 2em;
  font-size: small;
  width: 12em;
  height: 2.5em;
  opacity: 85%;
  text-align: center;
}

h4 {
  color: #992fed;
  text-align: center;
  margin: 0;
  margin-top: 0.25em;
  font-weight: 550;
}

#graphBox {
  width: 90%;
  height: 12.5em;
  left: 0;
  right: 0;
  margin: auto;
}

p {
  color: #bbc4d0;
  margin: 0;
}

.stat {
  color: #992fed;
  font-weight: 500;
}

#filtersToolbar {
  all: revert;
  color: black;
}

.leaderboardTable table {
  margin: auto;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.1);
  color: black;
}

th,
td {
  padding: 7.5px;
}

th {
  color: white;
  background-color: #992fed;
  text-align: center;
  font-size: 0.95em;
}

#privateMsg {
  color: #bbc4d0;
  font-size: smaller;
  text-align: center;
}

img {
  height: 3em;
  width: 3em;
  border-radius: 0.4em;
}

// Reference : https://stackoverflow.com/a/58570936
// hides scroll bar
#leaderboardBox {
  // overwrite inline styles
  --offset-bottom: auto !important;
  --overflow: hidden;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}
