.topPurple{
    background: #992FED;
    height: 5px;
}

.greyBit{
    background-color: #BBC4D0;
    height: 36%;
}

#brand{
    background-color: #BBC4D0;
    color: #992FED;
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
}

ion-toolbar{
    --background: white;
    border: 0.125em solid #992FED;
    border-radius: 4em;
    width: 90%;
    margin: auto;
    height: 3.25em;
    margin-bottom: 0.5em;
}

ion-segment {
    color: #992FED;
    border-radius: 1.5em;
}

ion-segment-button{
    font-size: 1.1em;
    font-weight: bolder;
    height: 2.25em;
    --background-checked : var(--ion-color-fav);
    --color-checked: var(--ion-color-dark);
    --indicator-color : transparent;
    border-radius: 1.5em;
}

ion-select{
    color: black;
}

.column {
    margin-top: 0.5em;
    float: left;
    width: 50%;
    text-align: center;
}
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

ion-label{
    color: black;
}

.filter{
    background-color: #BBC4D0;
    border: 0.01em solid black;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 2em;
    font-size: small;
    width: 12em;
    height: 2.5em;
    opacity: 85%;
    text-align: center;
}

h4{
    color: #BBC4D0;
    text-align: center;
    margin: 0;
    margin-top: 0.25em;
}

#graphBox{
    width: 90%;
    height: 12.5em;
    left: 0;
    right: 0;
    margin: auto;
}

p{
    color: #BBC4D0;
    margin: 0;
}

.stat{
    color: #992FED;
    font-weight: 500;
}