<ion-header class="ion-no-border">
  <div class="topPurple"></div>

  <div class="greyBit">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 500">
      <path
        fill="#992FED"
        fill-opacity="1"
        d="M -4 500 C 627 378 817 86 1242 102 C 1336 107 1399 140 1438 180 L 1440 0 L 1360 0 C 1280 0 1120 0 960 0 C 800 0 640 0 480 0 C 320 0 160 0 80 0 L 0 0 Z"
      ></path>
    </svg>
  </div>

  <div id="brand">Data</div>

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 200">
    <path
      fill="#BBC4D0"
      fill-opacity="1"
      d="M 0 2 C 495 295 1252 63 1442 156 L 1440 0 L 1360 0 C 1280 0 1120 0 960 0 C 800 0 640 0 480 0 C 320 0 160 0 80 0 L 0 0 Z"
    ></path>
  </svg>
</ion-header>

<ion-content>
  <ion-toolbar id="topToolbar">
    <ion-segment
      role="tablist"
      class="ios in-toolbar hydrated"
      (ionChange)="toolbar_update($event)"
      value="leaderboards"
    >
      <ion-segment-button
        value="leaderboards"
        role="tab"
        aria-selected="true"
        tabindex="0"
        >Leaderboards</ion-segment-button
      >

      <ion-segment-button
        value="stats"
        role="tab"
        aria-selected="false"
        tabindex="-1"
        >My Stats</ion-segment-button
      >
    </ion-segment>
  </ion-toolbar>

  <!-- Container for the my stats html -->
  <ng-container *ngIf="toolbar_selection=='stats'">
    <div class="filter">
      <ion-select
        interface="popover"
        value="weekly"
        [(ngModel)]="filters.period"
        (ionChange)="updateStats()"
      >
        <ion-select-option value="All Time">All Time</ion-select-option>
        <ion-select-option value="Monthly">Monthly</ion-select-option>
        <ion-select-option value="Weekly">Weekly</ion-select-option>
      </ion-select>
    </div>

    <h4>{{filters.period}} Activity Graph</h4>

    <div id="graphBox">
      <canvas #chart id="canvas" width="400" height="265">{{chart}}</canvas>
    </div>

    <div id="statBox">
      <div class="row">
        <div class="column">
          <p>Favourite Exercise</p>
          <p class="stat">{{user_stats.favourite_exercise}}</p>
        </div>

        <div class="column">
          <p>Total Exercises</p>
          <p class="stat">{{user_stats.total_exercises}}</p>
        </div>
      </div>

      <div class="row">
        <div class="column">
          <p>Total Distance</p>
          <p class="stat">
            {{utils.recalcDist(user_stats.total_distance)+" "+
            utils.distance_unit_short}}
          </p>
        </div>

        <div class="column">
          <p>Average Pace</p>
          <p class="stat">
            {{utils.recalcSpeed(user_stats.average_speed)+" "+ utils.pace_unit}}
          </p>
        </div>
      </div>
    </div>
  </ng-container>

  <!-- Container for the leaderboard html -->
  <ng-container *ngIf="toolbar_selection=='leaderboards'">
    <!-- (ionChange)="toolbar_update($event)" -->

    <h6 style="color: #bbc4d0; text-align: center">
      {{leaderboard_time_filter}} {{filters.type}} {{filters.lboard}} Ranking
    </h6>

    <div id="leaderboardBox">
      <ion-toolbar id="filtersToolbar">
        <ion-segment
          role="tablist"
          class="ios in-toolbar hydrated"
          value="Weekly"
          (ionChange)="leaderboard_update($event)"
        >
          <ion-segment-button value="Weekly" role="tab" aria-selected="true"
            >Weekly</ion-segment-button
          >

          <ion-segment-button
            value="Monthly"
            role="tab"
            aria-selected="false"
            tabindex="-1"
            >Monthly</ion-segment-button
          >

          <ion-segment-button
            value="All Time"
            role="tab"
            aria-selected="false"
            tabindex="-1"
            >All Time</ion-segment-button
          >
        </ion-segment>
      </ion-toolbar>
    </div>

    <div class="filter" style="margin-top: 1em">
      <ion-select
        interface="popover"
        value="All Types"
        [(ngModel)]="filters.type"
        (ionChange)="leaderboard_update('typeChange')"
      >
        <ion-select-option value="All Types">All Types</ion-select-option>
        <ion-select-option value="Walking">Walking</ion-select-option>
        <ion-select-option value="Cycling">Cycling</ion-select-option>
        <ion-select-option value="Running">Running</ion-select-option>
      </ion-select>
    </div>

    <div class="filter">
      <ion-select
        interface="popover"
        value="Distance"
        [(ngModel)]="filters.lboard"
        (ionChange)="leaderboard_update('lboardChange')"
      >
        <ion-select-option value="Distance">Distance</ion-select-option>
        <ion-select-option value="Time Spent">Time Spent</ion-select-option>
        <ion-select-option value="Number of Activities"
          >Number of Activities</ion-select-option
        >
        <ion-select-option value="Average Pace">Average Pace</ion-select-option>
      </ion-select>
    </div>
  </ng-container>
</ion-content>
