.topPurple{
    background: #992FED;
    height: 5px;
}

.greyBit{
    background-color: #BBC4D0;
    height: 40%;
}

#brand{
    background-color: #BBC4D0;
    color: #992FED;
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
}


ion-toolbar{
    --background: white;
    border: 0.125em solid #992FED;
    border-radius: 4em;
    width: 90%;
    margin: auto;
    height: 3em;
}

ion-segment {
    color: #992FED;
}

ion-segment-button{
    font-size: 1.1em;
    font-weight: bolder;
    height: 2em;
    --background-checked : var(--ion-color-fav);
    --color-checked: var(--ion-color-dark);
    --indicator-color : transparent;
}

ion-select{
    color: black;
}

.column {
    margin-top: 0.5em;
    float: left;
    width: 50%;
    text-align: center;
}
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

ion-label{
    color: black;
}

.filter{
    background-color: #BBC4D0;
    width: 95%;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 2em;
    font-size: small;
    height: 3.5em;
    opacity: 85%;
}