ion-header svg{
    z-index: -1;
}

ion-footer{
    z-index: -1;
    background-color: #992FED;
}

.topPurple{
    background: #992FED;
    height: 1em;
}

.greyBit{
    background-color: #BBC4D0;
}

#brand{
    background-color: #BBC4D0;
    color: #992FED;
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
}

ion-content{
    --ion-item-background: white;
    --ion-item-color : black;
}

ion-content h3{
    color: #992FED;
    font-size: 1.5em;
    font-weight: bolder;
    margin: 0;
    padding-left: 0.75em;
    padding-bottom: 0.5em;
}

ion-content ion-label{
    font-size: 1em;
}

ion-content ion-button{
    height: 3em;
    width: 6em;
    font-size: 0.96em;
    --background : #BBC4D0;
}