.topPurple{
    background: #992FED;
    height: 5px;
}

.greyBit{
    background-color: #BBC4D0;
    height: 36%;
}

#brand{
    background-color: #BBC4D0;
    color: #992FED;
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
}

ion-input, ion-select{
    color: black;
    border: solid 0.1em #992FED;
    width: 85%;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 0.65em;
    margin-bottom: 2.5em;
}


p{
    color: #992FED;
    font-weight: 550;
    text-align: center;
    margin: 0;
}

#btns ion-button{
    height: 3em;
    width: 8em;
    border-radius: 3em;
    --background : #992FED;
    --background-hover : #92949c;
}

#btns {
    text-align: center;
}

ion-icon{
    font-size: large;
}