.topPurple {
  background: #992fed;
  height: 5px;
}

.greyBit {
  background-color: #bbc4d0;
  height: 36%;
}

#brand {
  background-color: #bbc4d0;
  color: #992fed;
  text-align: center;
  font-size: 2em;
  font-weight: bolder;
}

ion-input,
ion-select {
  color: black;
  border: solid 0.1em #992fed;
  width: 85%;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 0.65em;
  margin-bottom: 2em;
}

p {
  color: #992fed;
  font-weight: 550;
  text-align: center;
  margin: 0;
}

#btns ion-button {
  font-size: 0.9em;
  height: 3.5em;
  width: 6.5em;
  border-radius: 3em;
  --background: #992fed;
  --background-hover: #92949c;
}

#btns {
  text-align: center;
}

ion-icon {
  font-size: large;
}

#saveBtn {
  margin: 0;
  margin-left: 30%;
  height: 3em;
  width: 8em;
  border-radius: 3em;
  --background: #992fed;
  --background-hover: #92949c;
  margin-bottom: 0.5em;
}

hr {
  background: black;
}
