.topPurple{
    background: #992FED;
    height: 5px;
}


.greyBit{
    background-color: #BBC4D0;
    height: 40%;
}

#brand{
    background-color: #BBC4D0;
    color: #992FED;
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
}