ion-title {
  font-size: larger;
}

ion-footer {
  text-align: center;
  margin-bottom: 1em;
}

ion-footer ion-button {
  font-size: 1em;
  height: 3em;
  width: 6.5em;
  border-radius: 3em;
  --background-hover: #992fed;
  --background: #92949c;
}

ion-content {
  text-align: center;
}

#pointBalance {
  left: 0;
  right: 0;
  margin: auto;
  border: solid 0.25em #92949c;
  border-radius: 0.5em;
  width: 60%;
  padding: 0.75em;
  background-color: whitesmoke;
  color: black;
  margin-bottom: 1em;
}

h6 {
  margin-top: 1.5em;
  font-weight: 550;
  margin-bottom: 0.25em;
}

.column {
  margin-top: 1em;
  float: left;
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

p {
  margin: 0;
  font-size: smaller;
}

img {
  border-radius: 0.5em;
}
