<ion-header>
  <ion-toolbar style="margin-top: 0.25em">
    <ion-title>Sanus Shop</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h6>Points Balance</h6>
  <div id="pointBalance">{{user_points}}</div>

  <div class="row">
    <div class="column">
      <img src="../../assets/socks.png" />
      <p>Pair of Cushioned Running Socks</p>
      <p>500 Points</p>
      <ion-select value="0">
        <ion-select-option>0</ion-select-option>
        <ion-select-option>1</ion-select-option>
        <ion-select-option>2</ion-select-option>
        <ion-select-option>3</ion-select-option>
      </ion-select>
    </div>

    <div class="column">
      <img src="../../assets/hat.png" />
      <p>Lightweight Running Cap</p>
      <p>500 Points</p>
      <ion-select value="0">
        <ion-select-option>0</ion-select-option>
        <ion-select-option>1</ion-select-option>
        <ion-select-option>2</ion-select-option>
        <ion-select-option>3</ion-select-option>
      </ion-select>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <img src="../../assets/amazon_voucher.png" />
      <p>Amazon Gift Card £5</p>
      <p>1,000 Points</p>
      <ion-select value="0">
        <ion-select-option>0</ion-select-option>
        <ion-select-option>1</ion-select-option>
        <ion-select-option>2</ion-select-option>
        <ion-select-option>3</ion-select-option>
      </ion-select>
    </div>

    <div class="column">
      <img src="../../assets/itunes_voucher.png" />
      <p>iTunes Gift Card £5</p>
      <p>1,000 Points</p>
      <ion-select value="0">
        <ion-select-option>0</ion-select-option>
        <ion-select-option>1</ion-select-option>
        <ion-select-option>2</ion-select-option>
        <ion-select-option>3</ion-select-option>
      </ion-select>
    </div>
  </div>
</ion-content>

<ion-footer>
  <hr style="background-color: grey" />

  <ion-button (click)="dismissModal()">Close</ion-button>
  <ion-button style="margin-left: 1em" disabled="true">Purchase</ion-button>
</ion-footer>
