<ion-header>
  <div class="topPurple"></div>

  <div class="greyBit">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 500">
      <path
        fill="#992FED"
        fill-opacity="1"
        d="M -4 500 C 627 378 817 86 1242 102 C 1336 107 1399 140 1438 180 L 1440 0 L 1360 0 C 1280 0 1120 0 960 0 C 800 0 640 0 480 0 C 320 0 160 0 80 0 L 0 0 Z"
      ></path>
    </svg>
  </div>

  <div id="brand">Profile</div>

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 200">
    <path
      fill="#BBC4D0"
      fill-opacity="1"
      d="M 0 2 C 495 295 1252 63 1442 156 L 1440 0 L 1360 0 C 1280 0 1120 0 960 0 C 800 0 640 0 480 0 C 320 0 160 0 80 0 L 0 0 Z"
    ></path>
  </svg>

  <div id="profileBox" class="row">
    <div class="column">
      <h5>{{ profileData.username }}</h5>

      <ng-container *ngIf="profileData.picture">
        <img
          src="http://localhost:5000/api/v1/images/{{profileData.picture}}"
        />
      </ng-container>
    </div>

    <div class="column" style="margin-top: 0.5em">
      <h6>Points</h6>
      <p>{{ profileData.points }}</p>

      <h6>Date of Birth</h6>
      <p>{{ profileData.dob }}</p>

      <h6>Gender</h6>
      <p>{{ profileData.gender }}</p>
    </div>
  </div>
</ion-header>
<ion-content>
  <ion-card *ngFor="let post of userPosts">
    <ion-card-header>
      <ion-card-title
        >{{profileData.username}}'s {{ post.type }}</ion-card-title
      >
      <ion-card-subtitle
        >{{ utils.recalcDist(post.dist) +"
        "+utils.distance_unit_short}}</ion-card-subtitle
      >
      <ion-card-subtitle>{{ utils.minutes2Time(post.time) }}</ion-card-subtitle>
      <ion-card-subtitle
        >{{utils.recalcSpeed(post.pace)}} {{utils.pace_unit}}</ion-card-subtitle
      >
    </ion-card-header>

    <ion-card-content>
      {{post.text}}
      <br />
      Posted {{utils.setDate(post.date)}}
    </ion-card-content>
  </ion-card>
</ion-content>
